.News-Title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3%;
}

#title {
    margin-bottom: 1%;
}

#etecnews {
    height: 125px;
}

.riscos {
    width: 350px;
}

#main-img {
    margin-left: 11%;
}

.mainimage {
    width: 580px;
    height: 560px;
}

#main-title {
    position: absolute;
    background-color: rgb(68,114,196);
    width: 620px;
    height: 320px;
    top: 45%;
    left: 42%;
}

#mainlegenda {
    margin-left: 11%;
    width: 651px;
    height: 38px;
}

#maintitle {
    color: white;
    font-family: "Tahoma";
    font-size: 85px;
}

#texto-banner {
    position: absolute;
    width: 350px;
    height: 220px;
    top: 102%;
    left: 61%;
    color: rgb(68,114,196);
    font-size: 32px;
}

#colunas {
    display: flex;
}

#coluna1 {
    margin-top: 3%;
    width: 358px;
    border-right: solid gray 0.5px;
    display: flex; 
    margin-left: 11%;
    font-size: 23px;
}

#coluna2 {
    margin-top: 3%;
    margin-left: 2%;
    width: 358px;  
    display: flex;  
    border-right: solid gray 0.5px 
}

#coluna3 {
    margin-left: 2%;
    margin-top: 3%;
    width: 358px;   
    display: flex;  
}

#segundotitulo {
    margin-left: 7%;
    margin-top: 2%;
}

#paragraph {
    margin-left: 1%;
    width: 215px;
}

#paragraph2 {
    width: 215px;
    margin-left: 2%;
}

#paragraphs {
    display: flex;
}

#card1 {
    font-size: 14.5px;
    width: 218px;
    height: 380px;
    margin-top: 2%;
    margin-left: 2%;
}

#imgdireita {
    width: 230px;
    height: 200px;
}

#imgdireita2 {
    width: 200px;
    height: 210px;
    margin-left: 5%;
}

#card2 {
    width: 218px;
    height: 380px;
    margin-top: 2%;
    margin-left: 2%;
}

#card3 {
    background-color: #1C1C1C;
    color: white;
    width: 218px;
    height: 380px;
    margin-top: 2%;
    margin-left: 2%;
}

#flex {
    display: flex;
}
