body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

#menu {
    position: relative;
}

.imagem {
    height: 310px;
}

#img {
    width: 20%;
    position: relative;
    margin-left: 2%;
}

#img2 {
    width: 26%;
    margin-left: 5%;
}


#img-vest {
    border-bottom: 2px solid gray;
    width: 100%;
}

#carousel {
    position: relative;
    width: 100%;
    margin: auto;
}

.news {
    width: 100%;
    border: 2px solid gray;
    position: relative;
    height: 280px;
}

p {
    margin-left: 3%;
}

hr{
    border-color: black; 
    }

#destaque {
    width: 55%;
    position: absolute;
    top: 65%;
    left: 10%;
}

#vest {
    width: 55%;
    position: absolute;
    top: 115%;
    left: 10%;
}

#twitter {
    position: absolute;
    width: 20%;
    top: 115%;
    right: 10%;
}

#recente {
    position: absolute;
    width: 20%;
    top: 65%;
    right: 10%;
}


#carousel-section {
    position: absolute;
    width: 80%;
    top: 12%;
    left: 10%;
}

#barra {
    position: absolute;
    width: 100%;
}

footer {
    text-align: center;
    padding: 40px;
    position:absolute;
    top: 165%;
    width: 100%;
    background-color: #161616;
}

footer li {
    display: inline-block;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a {
    color: gray;
}
footer img {
    padding: 15px;
}

small {
    color: gray;
}